@media (max-width:768px){
   /* nav section responsive css */
    a{
        padding: 0.6rem;
        padding-left: 0rem;
        font-family: none;
        font-size: 2vh;
    }

    /* home section responsive css */
    .home p{
        display: none;
    }
    .home{
        padding-top: 32vh;
    }
    .home h1{
        font-size: 1.5rem;
        margin-top: -9vh;
        padding-left: 2vh;
        font-family: fangsong;
    }
    .home h5{
        padding-left: 7vh;
        padding-top: 0vh;
        font-size: 12px;
        font-family: monospace;
    }
    button{
        left: 4vh;
        top: 35vh;
    }
    button:hover{
      padding: .7vh;
    }

   /* contact section responsive css */
    #contact{
        height: 58vh;
        top: -3vh;
    }
    .contact{
       width: 40vh;
       height: 78vh;
    }
    .lottie{
        top: 4vh;
        left: 6vh;
        height: 11vh;
    }
    form{
        top: -4vh;
    }
    #btn{
        margin-left: 9vh;
    }
}



@media (max-width:427px){
    nav{
        padding: 1.8rem;

    }
    .lottie{
        top: -1.8vh;
    }
    #gallary{
        top: 7vh;
        position: relative;
    }
    .items{
        justify-content: center;
        margin-left: 2rem;
    }
    .box img{
        height: 40vh;
        width: 90%;
    }
    #trainer{
        top: 16vh;
        position: relative;
    }
    #shop{
        top: 27vh;
        position: relative;
        height: 100vh;
    }
    #contact{
        height: 58vh;
    }
    button{
        top: 27vh;
        left: 2vh;
    }
    .home h5{
        padding-left: 4vh;
    }
    form{
        top: -8vh;
    }
}

@media (max-width:361px){
    nav{
        padding: 2.8rem;
    }
    .lottie{
        top: -1.8vh;
    }
    #gallary{
        top: 7vh;
        position: relative;
    }
    .items{
        justify-content: center;
        margin-left: 2rem;
    }
    .box img{
        height: 40vh;
        width: 90%;
    }
    #trainer{
        top: 16vh;
        position: relative;
    }
    #shop{
        top: 6vh;
        position: relative;
    }
}



@media (max-width:378px){
    nav{
        padding: 1rem;
        padding-top: 2rem;
    }
    #gallary{
        top: 9vh;
        position: relative;
    }
    #trainer{
        top: 16vh;
        position: relative;
    }
    #shop{
        top: 6vh;
        position: relative;
    }
}
