@media (max-width:768px)
{
   /* nav section responsive css */
    a{
        padding: 0.6rem;
        padding-left: 0rem;
        font-family: none;
        font-size: 2vh;
    }

    /* home section responsive css */
    .home p{
        display: none;
    }
    .home{
        padding-top: 32vh;
    }
    .home h1{
        font-size: 1.5rem;
        margin-top: -13vh;
        padding-left: 2vh;
        font-family: fangsong;
    }
    .home h5{
        padding-left: 7vh;
        padding-top: 0vh;
        font-size: 12px;
        font-family: monospace;
    }
    #but{
        left: 4vh;
        top: 40vh;
    }
    #but:hover{
      padding: .7vh;
    }

    .intro p{
        top: 3vh;
        line-height: 1.7;
        width: 52vh;
    }

   /* contact section responsive css */
    #contact{
        height: 58vh;
        top: 16vh;
    }
    .contact{
       width: 40vh;
       height: 78vh;
    }
    .lottie{
        top: -3vh;
        left: 6vh;
        height: 11vh;
    }
    form{
        top: -4vh;
    }
    #btn{
        margin-left: 12.47vh;
        margin-top: 3vh;
    }
}



@media (max-width:427px)
{
   
    #butt{
        content: "";
        background: url(./images/icons8-menu-24.png) center center/cover;
        position: absolute;
        top: 1vh;
        left: 19.6vh;
        height: 3rem;
        width: 4rem;
        border-radius: 9px;
        border: none;
    }
    #butt.active{
        content: "";
        background: url(./images/icons8-cancel-50.png) center center/cover;
        position: absolute;
        top: 1vh;
        left: 19.6vh;
        height: 4rem;
        width: 4rem;
        border-radius: 9px;
        border: none;
    }
    nav{
        padding: 1.8rem;
        display: none;
        position: relative;
        top: 6vh;
    }
    nav.active{
        transform: translateX(0);
        display: block;
    }
    li{
        display: flex;
        flex-direction: column;
    }
    #home{
        margin-top: -28vh;
    }
    #home::before{
        height: 140vh;
    }
    .home {
        padding-top: 46vh;
    }
    .home h1 {
        margin-top: 0vh;
    }
    .home h5{
        padding-left: 5.5vh;
    }
    .lottie{
        top: -1.8vh;
    }
    #gallary{
        top: 35vh;
        position: relative;
    }
    .items{
        justify-content: center;
        margin-left: 2rem;
        width: 39vh;
    }
    .box img{
        height: 40vh;
        width: 90%;
        width: 100%;
    }
    #trainer{
        top: 16vh;
        position: relative;
    }
    .intro p{
        width: 36vh;
        top: 9vh;
    }
    .intro img{
        margin-left: 7.8vh;
    }
    #shop{
        top: 27vh;
        position: relative;
        height: 65vh;
    }
    .box1{
        height: 40vh;
        width: 39vh;
        top: 3vh;
    }
    #contact{
        height: 58vh;
        top: 31vh;
    }    
    }
    #but{
        top: 34vh;
        left: 4vh;
    }
    form{
        top: -8vh;
    }
    #btn {
        margin-left: 7.5vh;
        margin-top: 2vh;
    }


@media (max-width:361px){
    nav{
        padding: 2.8rem;
    }
    .lottie{
        top: -1.8vh;
    }
    #gallary{
        top: 7vh;
        position: relative;
    }
    .items{
        justify-content: center;
        margin-left: 2rem;
    }
    .box img{
        height: 40vh;
        width: 90%;
    }
    #trainer{
        top: 16vh;
        position: relative;
    }
    #shop{
        top: 6vh;
        position: relative;
    }
}



@media (max-width:378px){
    nav{
        padding: 1rem;
        padding-top: 2rem;
    }
    #gallary{
        top: 9vh;
        position: relative;
    }
    #trainer{
        top: 16vh;
        position: relative;
    }
    #shop{
        top: 6vh;
        position: relative;
    }
}
